.side-bar__group
  .side-bar__name
    .userbox
      .neme
        masa 
      .icons
        .icons2
        = link_to "#",  class: "icon_edit" do
          = icon('fas', 'edit')
        = link_to "#",  class: "icon_cog" do
          = icon('fas','cog')
  .side-bar__list
    .side-bar__chart
      .side-bar__member
        techcamp
      .side-bar__message
        まだメッセージがありません